<div class="container jumbotron">
    <div class="alert-danger center-block">{{ massege }}</div>
    <h1>Login</h1>

    <div class="text-danger">

		Login ----first
		Test: admin  admin
	</div>
    <form name="form">
        <div class="form-group"  ng-class="{'has-error':form.username.$dirty && form.username.$error.required}" >
            <label for="">Username</label>
            <input class="form-control" name="username" type="text"ng-required="true" ng-model="login.email" placeholder="Email"/>
            <span class="text-danger" ng-show="form.username.$dirty && form.username.$error.required">Username is required</span>
        </div>
        <div class="form-group"  ng-class="{'has-error':form.password.$dirty && form.password.$error.required}">
            <label for="">Password</label>
            <input class="form-control" name="password" type="password" ng-required="true" ng-model="login.pwd" placeholder="Password"/>
            <span class="text-danger" ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="remenber"> 记住我
            </label>
        </div>
        <div class="form-actions" ng-init="loading=false">
            <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid || loading">Sign in</button>
            <img ng-if="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" alt=""/>
            <!--<a href="#reg">Register</a>-->
        </div>
    </form>
</div>
